.accueil-photos {
  background-color: white;
  padding: 40px;
}

.accueil-photos h2 {
  color:palevioletred;
  text-align: center;
  margin-bottom: 80px;
  font-size: 100px ;
}

.accueil-photos div {
  display: flex;
  flex-direction:row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items:flex-start;
  margin:0;
  padding:0;
}
#pr{
  margin:0;
  padding:0;

}

.accueil-introduction h1 {
  margin-bottom: 15px;
  text-align: center;
}

.accueil-introduction p {
  text-align: center;
  box-shadow:  inset ;
  border-radius: 10px;

}

.accueil-introduction div {
  padding-right: 80px;
}
*{
  margin: 0;
}
table {
  border: 2px rgb(162, 140, 140) solid;
}


